.footer {
    margin-top: 50px;
    min-height: 60px;
    background-color: #e8e8e8;

    &_menu {

        &_ul {
            list-style: none;
            margin:0;
            padding: 0;
            flex-wrap: wrap;
        }

        &_li {
            margin:10px 10px;

            a {
                font-size: 18px;
                font-weight: bold;
                line-height: normal;
                letter-spacing: 0.69px;
                text-align: center;
                color: #3c3c3c;

                &:hover {
                    border-bottom: 2px solid #f2a801;
                    text-decoration: none;
                }
            }
        }
    }

    &_phone {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.92px;
        color: #3c3c3c;

        @media (max-width: 991px) {
            font-size: 20px;
        }

        &:hover {
            color: #3c3c3c;
        }

        &_wrap {
            text-align: right;

            @media (max-width: 991px) {
                text-align: left;
                padding-left: 25px;
            }
        }
    }

    &_social {
        margin: 0 10px;
    }
}

.footer_row {
    margin:0;
    padding: 0;
    padding-top: 10px;
}