section
    .container
        .row.justify-content-center
            .col-lg-12
                .detail-title Акции
    .container
            .row.justify-content-md-between.justify-content-center
                .col-lg-6.col-md-6.col-sm-10.col-12.action-distance
                    .action(style="background-image: url(img/banner.png)")
                        .action-text-block
                            span Акция 3 + 1
                            p текст Текст екст текс текс текс
                            a(href="#").footer-action-link Подробнее
                .col-lg-6.col-md-6.col-sm-10.col-12.action-distance
                    .action(style="background-image: url(img/banner.png)")
                        .action-text-block
                            span Акция 3 + 1
                            p текст Текст екст текс текс текс
                            a(href="#").footer-action-link Подробнее
                .col-lg-6.col-md-6.col-sm-10.col-12.action-distance
                    .action(style="background-image: url(img/banner.png)")
                        .action-text-block
                            span Акция 3 + 1
                            p текст Текст екст текс текс текс
                            a(href="#").footer-action-link Подробнее
                .col-lg-6.col-md-6.col-sm-10.col-12.action-distance
                    .action(style="background-image: url(img/banner.png)")
                        .action-text-block
                            span Акция 3 + 1
                            p текст Текст екст текс текс текс
                            a(href="#").footer-action-link Подробнее
