.container.burger
    .row
        .col-12.d-flex.align-items-center.justify-content-center
            .header-logo
                img(src="img/logo.png")
            .header-nav-btn.js-burger.js-burger-close
                span
        .line
        .col-12
            +navItem
        .line
        .col-12.d-flex.align-items-center.flex-column
            .header-number.d-flex.flex-column.align-items-center
                a(href="#") (8342) 31-82-31
                a(href="#") 31-81-31
            .header-adress-text.d-flex.flex-column
                span г. Саранск, Александровское шоссе, 25А

