.container.burger
    .row.justify-content-between.align-items-center
        .col-5
            .burger-logo
                img(src="img/03-white.png")
        .col-2
            .toggle-button.burger-btn
                .line
                .line
                .line
.container.burger-border
    .row
        + navItemBurger
.container
    .row
        .col-12
            .burger-contact
                .footer-contact
                    .footer-contact-number
                        a(href="tel:+78342311191") 31-11-91
                    .footer-contact-time пн - чт:
                        span 9:00 - 22:00
                    .footer-contact-time пт - вс:
                        span 10:00 - 23:00
                .footer-network
                    a(href="#")
                        img(src="img/icon-vk.svg")
                    a(href="#")
                        img(src="img/icon-inst.svg")
                .footer-adress г. Саранск,
                    span переулок Кириллова, 2Б