section.contacts
    .container
        .row
            .col-12
                .detail-title Контакты
    .container
        .row.justify-content-md-between.justify-content-center.align-items-start.contacts-distance
            .col-lg-3.col-md-5.col-sm-6.text-center.text-sm-left.contacts-distance
                .contacts-title Время работы
                .footer-contact-time пн - чт:
                    span  9:00 - 22:00
                .footer-contact-time пт - вс:
                    span  10:00 - 23:00
            .col-lg-3.col-md-5.col-sm-6.text-center.text-sm-left.contacts-distance
                .contacts-title Адрес
                .footer-adress г. Саранск,
                    span переулок Кириллова, 2Б
            .col-lg-3.col-md-5.col-sm-6.text-center.text-sm-left.contacts-distance
                .contacts-title Контактный телефон
                .footer-contact-number
                    a(href="tel:+78342311191") +7 (8137) 45-85-96
            .col-lg-3.col-md-5.col-sm-6.text-center.text-sm-left.contacts-distance
                .contacts-title Мы в соц. сетях
                .footer-network
                    a(href="#")
                        img(src="img/icon-vk-black.svg")
                    a(href="#")
                        img(src="img/icon-inst-black.svg")

        .row.justify-content-between
            .col-lg-6.col-md-6.col-sm-12
                .contacts-text Текст Текст Текст Текст Текст Текст м Текст Текст Текст Текст Текст Текст м Текст Текст Текст Текст Текст Текст м Текст Текст Текст Текст Текст Текст м Текст Текст Текст Текст Текст Текст м
            .col-lg-6.col-md-6.col-sm-12
                #map(style="min-height: 500px; width: 100%; height: 100%")