section
    .container
        .row.justify-content-center
            .col-lg-12
                .detail-title Доставка
    .container
        .row.justify-content-center
            .col-lg-12
                .delivery-text JavaScript API поможет визуализировать большой объём информации или принять решение на основе анализа геоданных.Отобразите на карте большое количество объектов без потери производительности. Для этого можно использовать кластеризацию и менеджеры объектов.Используйте вспомогательные методы, чтобы быстрее находить геообъекты на карте, определять их положение относительно друг друга и производить над ними другие операции.Отобразите картографические данные на карте, загрузив файл в формате KML, GPX, YMapsML или JSON.Создайте собственный слой карты, измените проекцию или покажите свои панорамы.Так как JavaScript API поддерживает обратную совместимость, написанный один раз код будет корректно работать с выходом новых версий. Функции JavaScript API можно расширить за счёт модулей — готовых решений других разработчиков.Все возможности JavaScript API подробно описаны в документации. Там же есть примеры, которые помогут сориентироваться в коде. С любым вопросом по работе API Яндекс.Карт готова помочь техническая поддержка, а на странице клуба разработчиков можно пообщаться с коллегами.