section
    .container
        .row
            .col-lg-3.col-md-3.col-sm-12.order-md-0.order-sm-0.order-0
                .footer-logo
                    img(src="img/logo_w.png")
                .footer-call.d-flex.flex-column
                    a(href="#").footer-number (8342) 31-82-31,
                    a(href="#").footer-number  31-81-31
                    a(href="#").footer-vk
                        img(src="img/vk.png")
            .col-lg-2.col-md-3.col-sm-4.col-12.order-0.order-md-1
                .footer-nav-menu
                    +navItem
            .offset-lg-1.col-lg-5.col-md-6.col-sm-4.col-12.order-1.order-md-2
                .footer-shop-block
                    .footer-shop-item-title Магазины
                    .footer-shop-item ул. Ботевградская, д. 63
                    .footer-shop-item ул. Ботевградская, д. 63
                    .footer-shop-item ул. Ботевградская, д. 63

