.footer-action
    .container
        .row.justify-content-between
            .col-lg-8.d-flex.align-items-center
                .footer-action-block
                    img(src="img/gift.svg" alt="prise")
                    .footer-action-text Получи третью пиццу в подарок при первом заказе на сайте!
            .col-lg-2.d-flex.align-items-center.justify-content-end
                a(href="#").footer-action-link Заказать
.footer-block
    .container
        .row.justify-content-lg-between.align-items-center.justify-content-center
            .col-lg-2.col-md-6.col-sm-12
                .footer-img
                    img(src="img/group-15.svg")
            .col-lg-4.col-md-6.d-none.d-md-flex
                .footer-menu
                    + footerMenu
            .col-lg-3.col-md-6
                .footer-contact
                    .footer-contact-number
                        a(href="tel:+78342311191") 31-11-91
                    .footer-contact-time пн - чт:
                         span  9:00 - 22:00
                    .footer-contact-time пт - вс:
                        span  10:00 - 23:00
            .col-lg-3.col-md-6
                .footer-network
                    a(href="#")
                        img(src="img/icon-vk.svg")
                    a(href="#")
                        img(src="img/icon-inst.svg")
                .footer-adress г. Саранск,
                    span переулокКириллова, 2Б
.arrow-up
    include ../../../dist/img/pizza.svg
