nav
    #js-basket-count.d-none 0
    .container
        .row.justify-content-between.align-items-center
            .col-lg-2.col-md-2.col-sm-3.col-4
                .header-nav-logo
                    a(href="index.html")
                        img(src="img/03.png" alt="logo")
            + navItem
            + navBurger
