section.position-relative.container_header(style="background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(0,0,0,0) 100%),url(img/blur_img.jpg) right no-repeat ")
    .container.title
        .row
            .col-lg-12
                .main-title Каталог
    .main-title-shadow Каталог
    .container.main-catalog
        .row.justify-content-xl-center.justify-content-md-between.justify-content-center
            .col-lg-five.col-md-five.col-sm-five.col-xs-five
                .main-catalog-block
                    .main-catalog-title.js-catalog-title Пиломатериалы
                    ul.main-catalog-ul
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#modal_popup" href="javascript:;" ) Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#modal_popup" href="javascript:;") Блок
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#modal_popup" href="javascript:;") хаус
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#modal_popup" href="javascript:;") Брус
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#modal_popup" href="javascript:;") Доска обрезаная
                        li.main-catalog-li
                            a.main-catalog-link( data-fancybox data-src="#hidden-content" href="javascript:;") Блок хаус
                .main-catalog-img(style="background-image:url(img/catalog_img.png)")
                    .main-catalog-btn(data-fancybox data-src="#form") Получить прайс
            .col-lg-five.col-md-five.col-sm-five.col-xs-five
                .main-catalog-block
                    .main-catalog-title.js-catalog-title Пиломатериалы
                    ul.main-catalog-ul
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок
                        li.main-catalog-li
                            a.main-catalog-link(href="#") хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Брус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Доска обрезаная
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            .btn-volume(data-fancybox="" data-src="#volume") Расчитать обьем

                .main-catalog-img(style="background-image:url(img/catalog_img_2.png)")
                    .main-catalog-btn(data-fancybox data-src="#form") Получить прайс
            .col-lg-five.col-md-five.col-sm-five.col-xs-five
                .main-catalog-block
                    .main-catalog-title.js-catalog-title Пиломатериалы
                    ul.main-catalog-ul
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок
                        li.main-catalog-li
                            a.main-catalog-link(href="#") хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Брус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Доска обрезаная
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                .main-catalog-img(style="background-image:url(img/catalog_img.png)")
                    .main-catalog-btn(data-fancybox data-src="#form") Получить прайс
            .col-lg-five.col-md-five.col-sm-five.col-xs-five
                .main-catalog-block
                    .main-catalog-title.js-catalog-title Пиломатериалы
                    ul.main-catalog-ul
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок
                        li.main-catalog-li
                            a.main-catalog-link(href="#") хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Брус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Доска обрезаная
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                .main-catalog-img(style="background-image:url(img/catalog_img.png)")
                    .main-catalog-btn(data-fancybox data-src="#form") Получить прайс
            .col-lg-five.col-md-five.col-sm-five.col-xs-five
                .main-catalog-block
                    .main-catalog-title.js-catalog-title Пиломатериалы
                    ul.main-catalog-ul
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок
                        li.main-catalog-li
                            a.main-catalog-link(href="#") хаус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Брус
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Доска обрезаная
                        li.main-catalog-li
                            a.main-catalog-link(href="#") Блок хаус
                .main-catalog-img(style="background-image:url(img/catalog_img.png)")
                    .main-catalog-btn(data-fancybox data-src="#form") Получить прайс
section.main-action.position-relative
    .container.title
        .row
            .col-lg-12
                .main-title Наши акции
    .main-title-shadow Наши акции

    .owl-carousel.owl-theme.owl-banner
        .main-action-bg(style="background-image: url(img/banner1.jpg)")
        .main-action-bg(style="background-image: url(img/banner2.jpg)")
        .main-action-bg(style="background-image: url(img/banner3.jpg)")

section
    .container
        .owl-carousel.owl-theme.owl-company
            .main-partners
                img(src="img/partners/1200x630wa.png")
            .main-partners
                img(src="img/partners/logo.png")
            .main-partners
                img(src="img/partners/Marshall.png")
            .main-partners
                img(src="img/partners/pinotex-1.jpg")
            .main-partners
                img(src="img/partners/1200x630wa.png")
            .main-partners
                img(src="img/partners/1200x630wa.png")
section.position-relative
    .container.title
        .row
            .col-lg-12
                .main-title Как мы работаем
    .main-title-shadow Как мы работаем
    .container.main-work
        .row
            .col-lg-3.col-md-3.col-sm-6.col-12
                .main-work.d-flex.flex-sm-column.justify-content-sm-start.flex-row.align-items-center
                    .main-work-count 1
                    .main-work-text Выбираете нужный вам товар на сайте и оставляете заявку
            .col-lg-3.col-md-3.col-sm-6.col-12
                .main-work.d-flex.flex-sm-column.justify-content-sm-start.flex-row.align-items-center
                    .main-work-count 2
                    .main-work-text Мы в кратчайшие сроки обрабатываем ваш заказ и выставляем счёт, соответствующий вашему товару
            .col-lg-3.col-md-3.col-sm-6.col-12
                .main-work.d-flex.flex-column
                    .d-flex.flex-sm-column.justify-content-sm-start.flex-row.align-items-center
                        .main-work-count 3
                        .main-work-text Оплачиваете счет любым <a class="js-work" href="javascript:;">удобным для вас способом </a>
                    ol.work-items.d-flex.flex-column
                        li.work-item Удобный способ
                        li.work-item Удобный способ
                        li.work-item Удобный способ
                        li.work-item Удобный способ
            .col-lg-3.col-md-3.col-sm-6.col-12
                .main-work.d-flex.flex-sm-column.justify-content-sm-start.flex-row.align-items-center
                    .main-work-count 4
                    .main-work-text Выбираете нужный вам товар на сайте и оставляете заявку
section.position-relative
    .container.title
        .row
            .col-lg-4.col-md-4.col-sm-12
                .main-title О нас
                .main-about-text Компания «Кубатура» работает на рынке строительных материалов более 10 лет. Залог успешной работы - современный сервис и прямые контракты с ведущими заводами-изготовителями строительных материалов. Прямые поставки от заводов-изготовителей строительных материалов позволяют держать одни из низких цен в регионе. «Кубатура» — официальный партнер концернов «Tikkurila» и «AkzoNobel» — ведущих производителей лакокрасочной продукции высокого качества, а также лидеров по производству гибкой черепицы — «Tegola», «Docke», «Katepal» и др. в нашем регионе. Благодаря нашему опыту работы, мы принимали активное участие в строительстве стадиона "Мордовия Арена", международного аэропорта Саранск, Бизнес-центра «Адмирал», Храма Казанской Иконы Божией Матери и др. Ведущие строительные компании и учреждения жилищно-коммунального хозяйства города являются нашими постоянными клиентами.


            .col-lg-8.col-md-8.col-sm-12
                .main-about
                    .main-about-sm_text Работаем более <b>10</b> лет
                    .main-about-sm_text Совершили <i>5000</i> продаж в <i>135</i> городах
                    .main-about-sm_text Получили отзывы <i>3445</i> довольных клиентов
    .main-title-shadow О нас
section.position-relative.main-object
    .container.title
        .row
            .col-lg-12
                .main-title Наши обьекты
        .row
            .owl-carousel.owl-theme.owl-object
                - for (var x = 0; x < 6; x++)
                    .d-flex.flex-column.align-items-center
                        .main-object-img(style="background-image:url(img/main_form_bg.png)")
                            a(href="img/main_form_bg.png" data-fancybox="gallery")
                        .main-object-text Название обьект

    .main-title-shadow Наши обьекты
section.position-relative.main-pluses
    .main-pluses-bg
    .container.title
        .row
            .col-lg-12
                .main-title Наши преимущества
    .main-title-shadow Наши преимущества
    .container
        .row.justify-content-between
            .col-lg-3
                .main-pluses-title В наличии и на заказ
                .main-pluses-text Если вы по какой-то причине не смогли найти нужные позиции, просто оставьте заявку и мы подберем для вас оптимальную комплектацию
            .col-lg-3
                .main-pluses-title В наличии и на заказ
                .main-pluses-text Если вы по какой-то причине не смогли найти нужные позиции, просто оставьте заявку и
            .col-lg-3
                .main-pluses-title В наличии и на заказ
                .main-pluses-text Если вы по какой-то причине не смогли найти нужные позиции, просто оставьте заявку и
section.main-form

    .main-form-bg(style="background-image:url(img/main_form_bg.png)")
    .container
        .row.justify-content-center
            .col-lg-5
                .main-form-title Получите прайс лист
                form
                    .header-form-input
                        input(type="text" placeholder="Ваше имя" required)
                    .header-form-input
                        input(type="text" name="TELEPHONE" placeholder="Number" required)
                    .header-form-input
                        input(type="email" placeholder="E-mail" required)
                    .header-form-check.d-flex.align-items-center
                        input(type="checkbox" id="checked_form_main")
                        label(for="checked_form_main") Я даю свое согласие на обработку своих персональных данных
                    button.header-form-btn(type="submit") Отправить
section.position-relative.main-reviews
    .container.title
        .row
            .col-lg-12
                .main-title Отзывы
    .main-title-shadow Отзывы
    .container.position-relative
        .main-reviews-bg
        .owl-theme.owl-carousel.owl-reviews
            .main-reviews-block
                .main-reviews-text Добрый день! Спасибо за хорошие и недорогие доски. Очень хорошо, что у нас в городе появлилась такая большая база с большим наличием товара. Очень срочно пришлось искать, где бы приобрести доски на пол 8 метровой длины. В кубатуре такие доски были в наличии. Стоимость доставки в пределах города тоже порадовала!
                .main-reviews-name Сергей Иванников
            .main-reviews-block
                .main-reviews-text Добрый день! Спасибо за хорошие и недорогие доски. Очень хорошо, что у нас в городе появлилась такая большая база с большим наличием товара. Очень срочно пришлось искать, где бы приобрести доски на пол 8 метровой длины. В кубатуре такие доски были в наличии. Стоимость доставки в пределах города тоже порадовала!
                .main-reviews-name Роман Кадиков
            .main-reviews-block
                .main-reviews-text Добрый день! Спасибо за хорошие и недорогие доски. Очень хорошо, что у нас в городе появлилась такая большая база с большим наличием товара. Очень срочно пришлось искать, где бы приобрести доски на пол 8 метровой длины. В кубатуре такие доски были в наличии. Стоимость доставки в пределах города тоже порадовала!
                .main-reviews-name Сергей Иванников
            .main-reviews-block
                .main-reviews-text Добрый день! Спасибо за хорошие и недорогие доски. Очень хорошо, что у нас в городе появлилась такая большая база с большим наличием товара. Очень срочно пришлось искать, где бы приобрести доски на пол 8 метровой длины. В кубатуре такие доски были в наличии. Стоимость доставки в пределах города тоже порадовала!
                .main-reviews-name Павел Щеглов
            .main-reviews-block
                .main-reviews-text Добрый день! Спасибо за хорошие и недорогие доски. Очень хорошо, что у нас в городе появлилась такая большая база с большим наличием товара. Очень срочно пришлось искать, где бы приобрести доски на пол 8 метровой длины. В кубатуре такие доски были в наличии. Стоимость доставки в пределах города тоже порадовала!
                .main-reviews-name Сергей Иванников
section.position-relative.main-contacts
    .container.title
        .row
            .col-lg-12
                .main-title Контакты
    .main-title-shadow Контакты
    .container
        .row.justify-content-md-between.justify-content-center
            .col-lg-3.col-md-10.col-sm-12.col-12.d-flex.flex-lg-column.flex-row.order-lg-0.order-3
                a(href="#").main-contacts-number (8342) 31-82-31,
                a(href="#").main-contacts-number  31-81-31
            .col-lg-3.col-md-6.col-sm-6.col-12.d-flex.flex-column.order-lg-1.order-0
                .main-contacts-title Крепмотаж
                .main-contacts-text ул. Ботевградская, д. 63
                .main-contacts-text ул. Коваленко, д. 52А
            .col-lg-3.col-md-6.col-sm-6.col-12.d-flex.flex-column.order-lg-2.order-1
                .main-contacts-title Мастерская цвета
                .main-contacts-text ул. Ботевградская, д. 63
            .col-lg-3.col-md-6.col-sm-6.col-12.d-flex.flex-column.order-lg-2.order-2
                .main-contacts-title Мастерская цвета 2
                .main-contacts-text ул. Коваленко, д. 52А
section

#modal_1.map-modal(style="display: none;")
    .d-flex.map-block
        .map-img(style="background-image: url(img/caption.jpg)")
        .map-text
            span Тут будет некоторое описание опиаснеие разные слова
#modal_2.map-modal(style="display: none;")
    .d-flex.map-block
        .map-img(style="background-image: url(img/caption.jpg)")
        .map-text
            span Тут будет некоторое описание опиаснеие разные слова
#modal_3.map-modal(style="display: none;")
    .d-flex.map-block
        .map-img(style="background-image: url(img/caption.jpg)")
        .map-text
            span Тут будет некоторое описание опиаснеие разные слова
#modal_4.map-modal(style="display: none;")
    .d-flex.map-block
        .map-img(style="background-image: url(img/caption.jpg)")
        .map-text
            span Тут будет некоторое описание опиаснеие разные слова
#volume
    .container
        .row
            .col-12
                .volume-title Расчет кубов доски
            .col-12.calculate-block
                .volume-block
                    span Длинна досок, м
                    input(type="number")
                .volume-block
                    span Ширина досок, мм
                    input.volume-mm(type="number")
                .volume-block
                    span Толщина досок, мм
                    input.volume-mm(type="number")
                .volume-block
                    span Количество досок, шт
                    input(type="number")
            .col-12
                .btn-volume-calculate Расчитать
            .col-12
                .volume-block
                    span Обьем досок, м.куб.
                    input.calculate(type="number" readonly)





