section
    .container.container-fluid-sm
        .row.align-items-stretch
            +pizzaBlock
a(href="basket.html").burger-basket.d-md-none.d-flex
    include ../../img/picnic-basket.svg
    .main-basket-count Ваша корзина пуста!
