.container
    .row
        .col-12.d-flex.flex-column
            .popup-name Пилометриалы
            .popup-title Блок хаус
    .row
        .col-lg-6
            .popup-gallery
                .popup-gallery-main
                    a(href="img/Mask Group (5).png" data-fancybox="gallery")
                        img(src="img/Mask Group (5).png")
                .popup-gallery-second
                    .popup-gallery-second-img
                        a(href="img/Mask Group (5).png" data-fancybox="gallery")
                            img(src="img/Mask Group (5).png")
                    .popup-gallery-second-img
                        a(href="img/Mask Group (5).png" data-fancybox="gallery")
                            img(src="img/Mask Group (5).png")
                    .popup-gallery-second-img
                        a(href="img/Mask Group (5).png" data-fancybox="gallery")
                            img(src="img/Mask Group (5).png")
        .col-lg-6
            .popup-text Мы в кратчайшие сроки обрабатываем ваш заказ и выставляем счёт, соответствующий вашему товару. Мы в кратчайшие сроки обрабатываем ваш заказ и выставляем счёт, соответствующий вашему товару. Мы в кратчайшие сроки обрабатываем ваш заказ и выставляем счёт, соответствующий вашему товару
            .popup-btn(data-fancybox data-src="#form") Получить прайс
