<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title Pizzaa
    link(type="text/css", href="main.css")
body
    include ./modules/_mixin
    #menu
        include ./modules/burger
    #panel
        header
            include ./modules/header
        main
            include ./modules/bread
            include ./modules/deliveryblock
        footer
            include ./modules/footer
