body {
    width: 100%;
    height: 100%;
}
#menu {
 transition: all 0.8s;
}
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    background: black;
    opacity: 1;
    transform: translateX(100%);

}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
    height: 100vh;
}

.slideout-open .slideout-menu {
    z-index: 2;
    transform: translateX(0) !important;
}
.slideout-open .slideout-panel-right {
    transform: translateX(0) !important;
}